<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <title th:text="${recipe.name}">Recipe</title>
</head>
<body>
<div>
    <!--        todo create template-->
    <p th:text="${recipe.name}">name</p>
    <p th:text="${recipe.complexity}">complexity</p>
    <p th:text="${recipe.rating}">rating</p>
    <img th:src="${recipe.imageUrl}" alt="image" th:width="480px" th:height="480px"/>
</div>
</body>
</html>